/* Style global */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header */
.header {
  background-color: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input-search {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.button-search {
  padding: 10px 15px;
  background-color: white;
  color: #007BFF;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Conteneur principal */
.main-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-input,
.sidebar-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar-button {
  width: 100%;
  padding: 10px;
  background-color: #06A9E9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #004E7C;
}

/* Grille d'artistes */
.content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.grille {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #f4f4f4;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item h2 {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* Message "Aucun résultat" */
.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 20px;
}
